# Ignore compiled Java class and other binary files
/bin

# Ignore the distribution folder created for local distribution and setup.exe files
/dist

# Ignore vi editor swap files
*.swp
*.swo

# Ignore Microsoft Office temporary files
~$*

# Ignore Java crash log files
# - not sure why Java crashes, maybe memory issue?
# - for example:   build-util/hs_err_pid11760.log
hs_err*.log
