[TSTool]

# Enable/disable input types - note some will be automatically turned off
# based on the license type.

ColoradoSMSEnabled = false
DateValueEnabled = true
HydroBaseEnabled = true
NWSCardEnabled = false
NWSRFSEnabled = false
NWSRFSESPTraceEnsembleEnabled = false
RiversideDBEnabled = true 
RiverWareEnabled = true
StateModEnabled = true

# The CDSS license identifies the source of the software as CDSS and disables
# some input types that are not needed for CDSS.

LicenseOwner = "CDSS"
LicenseType = CDSS
LicenseCount = NoLimit
LicenseExpires = Never
LicenseKey = 00-77960bdfb1dde707-1dd052fe0327a332-a07266ee645e8845-7560192d374235c5-1dd052fe0327a332