#
# Configuration file for TSTool
#

[TSTool]

DateValueEnabled = true
DIADvisorEnabled = false
HECDSSEnabled = true
HydroBaseEnabled = true
MexicoCSMNEnabled = false
NDFDEnabled = false
NWSCardEnabled = true
NWSRFSEnabled = true
NWSRFSFS5FilesEnabled = true
NWSRFSESPTraceEnsembleEnabled = true
RiversideDBEnabled = true
RiverWareEnabled = true
StateCUEnabled = true
StateCUBEnabled = true
StateModEnabled = true
StateModBEnabled = true
USGSNWISEnabled = true

# Demo license will expire in approximately 3 months from generation of installer

LicenseOwner = "Demo"
LicenseType = DemoSite
LicenseCount = NoLimit
LicenseExpires = 20090731
LicenseKey = 00-77960bdfb1dde707-dffb1d2502a40d30-a07266ee645e8845-f1411d67d707aa21-89806e1d5c16effb

/* Example to enable RiversideDB connection at startup with no login
[RiversideDB]


Database = RiversideDB_XXXXX
DatabaseServer = XXXXX
DatabaseEngine = SQLServer2000
# Read-only streamlined login
ShowLoginDialog = false
*/
